.DS_Store
*~
*.pyc
*.blend1
__pycache__
png-out/*
png-out2/*
ppg/*
ref/*
blender/cards-out/*
blender/fonts/*

archive/v2-poker-size/deck1-png-gen/*
archive/v2-poker-size/deck1-svg-gen/*
archive/v2-poker-size/deck1.p*
archive/v2-poker-size/deck2-png-gen/*
archive/v2-poker-size/deck2-svg-gen/*
archive/v2-poker-size/deck2.p*
archive/v2-poker-size/archive/v1/*
archive/v2-poker-size/archive/v2-not-printed/*
archive/v2-poker-size/archive/v3/*
archive/v3-more-water/deck1-svg-gen/*
archive/v3-more-water/deck2-svg-gen/*
archive/v3-more-water/instr/_instr-old.svg
archive/v3-more-water/instr/DSC058*
archive/v3-more-water/islands-rules-letter-big.pdf
archive/v4-square/svg-3in/*
archive/v7-sq-6resources/_export-print-v7a/*
archive/v8-sq6/svg-out/*
