*~
old decks/*

archive/v3-more-water/deck1-svg-gen/*
archive/v3-more-water/deck2-svg-gen/*
archive/v3-more-water/instr/_instr-old.svg
archive/v3-more-water/instr/DSC058*
archive/v3-more-water/islands-rules-letter-big.pdf
archive/v4-square/svg-3in/*
archive/v7-sq-6resources/_export-print-v7a/*
archive/v8-sq6/svg-out/*
